<ion-header class="ion-no-border" style="background-color: #fc84e4;">
  <img src="../../../assets/detimg.png">
</ion-header>

<ion-content>

  <!-- Back Button -->
  <div>
    <ion-row>
      <ion-col #slot6 class="fechar">
        <ion-button shape="round" color="danger" size="small">
          <ion-backdrop></ion-backdrop>
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>

        <!-- Versão -->
        <ion-button id="versao" shape="round" color="medium" size="small">
          <ion-icon slot="icon-only" name="person-outline"></ion-icon>
        </ion-button>
        <ion-popover class="popoverbruh" trigger="versao" triggerAction="hover">
          <ng-template>
            <ion-content style="text-align: center;">v2 Final</ion-content>
          </ng-template>
        </ion-popover>
        <!-- Versão -->
      </ion-col>
    </ion-row>
  </div>
  <!-- Back Button -->


  <ion-grid class="centro">

    <ion-row #slot1>
      <ion-col>
        <ion-button (click)="autoconfianca()">Autoconfiança</ion-button>
      </ion-col>
    </ion-row>

    <ion-row #slot2>
      <ion-col>
        <ion-button (click)="autogestao()">Autogestão</ion-button>
      </ion-col>
    </ion-row>

    <ion-row #slot3>
      <ion-col>
        <ion-button (click)="honestidade()">Honestidade</ion-button>
      </ion-col>
    </ion-row>

    <ion-row #slot4>
      <ion-col>
        <ion-button (click)="motivacao()">Motivação</ion-button>
      </ion-col>
    </ion-row>

    <ion-row #slot5>
      <ion-col>
        <ion-button (click)="resiliencia()">Resiliência</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>