ion-content {
  --background: #fc84e4;
}

ion-button {
  --background: #fc84e4;
  --border-color: #fff;
  --border-style: solid;
  --border-radius: 50px;
  --border-width: 2px;
  --padding-bottom: 10px;
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.centro {
  margin-top: 30%;
  text-align: center;
}

.fechar {
  top: 80%;
  text-align: center;
  position: absolute;
}

.popoverbruh {
  --offset-x: 10px;
  --offset-y: 5px;
  --width: 50px;
  --color: #fff;
}
