<ion-header class="ion-no-border" style="background-color: #a8d7d1;">
  <img src="../../../assets/detalhes/honestidade.jpg" alt="">
</ion-header>

<ion-content style="--background: #a8d7d1;">
  <ion-card class="centro">
    <ion-card-header>
      <ion-card-title>Honestidade</ion-card-title>
      <ion-card-subtitle>O que é?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Honestidade é uma faceta de caráter moral que conota atributos positivos e virtuosos, como integridade,
      veracidade, franqueza, incluindo franqueza de conduta, juntamente com a ausência de mentiras, trapaça, roubo, etc.
      Honestidade também envolve ser confiável, leal, justo e sincero.
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col class="fechar">
      <ion-button shape="round" color="light" size="small">
        <ion-backdrop></ion-backdrop>
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>