<ion-header class="ion-no-border" style="background-color: #da471a;">
  <img src="../../../assets/detalhes/motivacao.png" alt="">
</ion-header>

<ion-content style="--background: #da471a;">
  <ion-card class="centro">
    <ion-card-header>
      <ion-card-title>Motivação</ion-card-title>
      <ion-card-subtitle>O que é?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      A motivação é o que explica por que pessoas ou animais iniciam, continuam ou terminam um certo comportamento em um
      momento determinado. Os estados motivacionais são comumente entendidos como forças atuantes dentro do agente que
      criam uma disposição para se envolver em um comportamento direcionado a um objetivo.
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col class="fechar">
      <ion-button shape="round" color="light" size="small">
        <ion-backdrop></ion-backdrop>
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>