<ion-header class="ion-no-border" style="background-color: #1d2f8a;">
  <img src="../../../assets/detalhes/autoconfianca.png" alt="">
</ion-header>

<ion-content style="--background: #1d2f8a;">
  <ion-card class="centro">
    <ion-card-header>
      <ion-card-title>Autoconfiança</ion-card-title>
      <ion-card-subtitle>O que é?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      A autoconfiança é definida como um sentimento de confiança nas habilidades, qualidades e julgamentos de uma
      pessoa. A autoconfiança é importante para a sua saúde e bem-estar psicológico. Ter um nível saudável de
      autoconfiança pode ajudá-lo a ter sucesso em sua vida pessoal e profissional.
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col class="fechar">
      <ion-button shape="round" color="light" size="small">
        <ion-backdrop></ion-backdrop>
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>