<ion-header class="ion-no-border">
  <div class="div">
      <h1 class="texto">Soft Skills</h1>
  </div>

</ion-header>

<ion-content >
  <div>
    <ion-item>
      <ion-label>
        Item
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Item
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Item
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Item
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Item
      </ion-label>
    </ion-item>
  </div>
</ion-content>
