<!-- 400x819 -->

<ion-header class="ion-no-border">
</ion-header>

<ion-content>
  <div class="assest">
    <img class="img" src="../../assets/soft.jpg" alt="back">
  </div>

  <div class="assest2">
    <!-- <ion-button (click)="presentModal()">Teste</ion-button> -->

    <div class="text">
      <h1>Soft Skills</h1>
      <span>Soft skills são habilidades comportamentais relacionadas a maneira como o profissional lida com o outro e
        consigo mesmo em diferentes situações.</span>
    </div>


    <div class="button">
      <ion-button #title (click)="presentModal()" shape="round" color="tertiary">
        Detalhes
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </div>

  </div>
</ion-content>